@model List<ResultAlbumDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="layout-row flex">
    <!-- ############ Content START-->
    <div id="content" class="flex ">
        <!-- ############ Main START-->
        <div>
            <div class="page-content page-container" id="page-content">
                <div class="padding sr" id="list" data-plugin="list" data-page="50">
                    <div class="page-hero">
                        <div class="media bg-media">
                            <div class="media-content">
                            </div>
                        </div>
                        <div class="pos-rlt">
                            <h1 class="display-3 font-weight-bold text-white">Tüm Albümler</h1>
                        </div>
                    </div>
                    <div class="d-lg-flex pos-rlt">
                        <div class="flex">
  
                            <div class="row list list-row list-index hide">
                                @foreach (var item in Model)
                                {
                                    
                                    <div class="col-12" data-id="427101360" data-category="Pop" data-tag="USA" data-source="https://audio-ssl.itunes.apple.com/apple-assets-us-std-000001/AudioPreview128/v4/03/78/b5/0378b505-0651-5d37-abaf-fdace32fa0a1/mzaf_4885861497912518049.plus.aac.p.m4a">
                                        <div class="list-item r">
                                            <div class="media ">
                                                <a href="item.detail.html#427101360" class="ajax media-content " style="background-image:url(@item.Artist.ImageUrl)">
                                                </a>
                                                <div class="media-action media-action-overlay">
                                                    <button class="btn btn-icon no-bg no-shadow hide-row" data-toggle-class>
                                                        <i data-feather="heart" class="active-fill"></i>
                                                    </button>
                                                    <button class="btn btn-raised btn-icon btn-rounded bg--white btn-play"></button>
                                                    <button class="btn btn-icon no-bg no-shadow hide-row btn-more" data-toggle="dropdown">
                                                        <i data-feather="more-horizontal"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"></div>
                                                </div>
                                            </div>
                                            <div class="list-content text-center">
                                                <div class="list-body ">
                                                    <a href="item.detail.html#427101360" class="list-title title ajax h-1x">
                                                        @item.Title
                                                    </a>
                                                    <a href="artist.detail.html#427101360" class="list-subtitle d-block text-muted h-1x subtitle ajax ">
                                                        @item.Artist.Name
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="list-action  show-row">
                                                <div class="d-flex align-items-center">
                                                    <div class="px-3 text-sm text-muted d-none d-md-block num">540</div>
                                                    <button class="btn btn-icon no-bg no-shadow" data-toggle-class>
                                                        <i data-feather="heart" class="active-primary"></i>
                                                    </button>
                                                    <button class="btn btn-icon no-bg no-shadow btn-more" data-toggle="dropdown">
                                                        <i data-feather="more-horizontal"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="no-result hide">
                                <div class="p-5 text-center">
                                    <h5>Nothing Found</h5>
                                    <small>It seems we can’t find what you’re looking for.</small>
                                </div>
                            </div>
                            <div class="d-flex py-3 justify-content-center hide">
                                <ul class="pagination pagination-sm"></ul>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>